<div class="container">
    <section id="Indir">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="TitleParagraph ">
                            <h1>
                                DENGE <span style="color:#B2D235;">SMART</span> ile <br> aradığınız çözüm <br>
                                parmağınızın
                                ucunda!
                            </h1>
                        </div>
                        <div class="BtnDiv">
                            <button class="TryFreeBtn btn btn-default btn-lg ">
                                Ücretsiz Dene
                            </button>

                            <button class="ContactUsBtn btn btn-default btn-lg ">
                                Size Ulaşalım
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="DengeDeviceImgs">
                            <img src="/assets/img/DengeGorseller.png" />
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </section>

</div>


<section id="section-2">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="qrImg">
                <img src="/assets/img/qr.png" />
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>

<section id="Hakkinda">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <img src="/assets/img/DENGESMART_appmagaza-10.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="/assets/img/DENGESMART_appmagaza-11.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="/assets/img/DENGESMART_appmagaza-10.jpg" style="width:100%">
                </div>

            </div>

            <div style="text-align:center; margin-bottom: 30px;">
                <span id="a" class="dot "></span>
                <span id="b" class="dot "></span>
                <span id="c" class="dot "></span>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>

<section id="section-4">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="Referances">
                <div>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template #item carouselSlide><img src="/assets/img/nobo.png"></ng-template>
                        <ng-template #item carouselSlide><img src="/assets/img/juno.png"></ng-template>
                        <ng-template #item carouselSlide><img src="/assets/img/msa.png"></ng-template>
                        <ng-template #item carouselSlide><img src="/assets/img/markus.png"></ng-template>
                        <ng-template #item carouselSlide><img src="/assets/img/yako.png"></ng-template>
                        <ng-template #item carouselSlide><img src="/assets/img/cinbufe.png"></ng-template>
                    </owl-carousel-o>

                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>

<section id="section-5">
    <div class="BantImg">
        <img src="/assets/img/bant.PNG" />
    </div>
</section>

<section id="Ozellikler">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="cardsDiv1">
                    <div class="col-sm-4">
                        <div class="card card1">
                            <img src="/assets/img/ihtiyac.png" />
                            <h3>İhtiyacınıza özel arayüz </h3>
                            <p>
                                Denge Smart ile paket yazılım almazsınız.<br>
                                Tam olarak işletmenizin ihtiyaçlarına özel<br>
                                hazırlanmış bir sisteme sahip olursunuz.<br>
                                Böylece kafa karışıklığı yaratacak detayların<br>
                                olmadığı kişiselleştirilebilen bir ara yüze<br>
                                sahip olmanın konforunu yaşayabilirsiniz
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card2">
                            <img src="/assets/img/HerIsletmeye.png" />
                            <h3>Her işletmeye uygun</h3>
                            <p>
                                En büyüğünden en küçüğüne her türlü<br>
                                işletmeye kendi ihtiyacına göre çözüm<br>
                                sunan Denge Smart’ta yüzlerce farklı<br>
                                özelliği dilediğiniz an, sorunsuz<br>
                                kullanabilmenin rahatlığını yaşarsınız.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card3">
                            <img src="/assets/img/hızlıguncelleme.png" />
                            <h3>Hızlı Güncelleme</h3>
                            <p>
                                Sektörün dinamiklerine ve çağın hızına<br>
                                yetişmek önemli. İhtiyaçlarınız değişirse<br>
                                sisteminiz de hızla değişip yenilenir ve size<br>
                                aynı hızla uyum sağlar.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="cardsDiv2">
                    <div class="col-sm-4">
                        <div class="card card4">
                            <img src="/assets/img/kolaykurulum.png" />
                            <h3>Kolay Kurulum</h3>
                            <p>

                                Telefon ve tabletinize kolayca indirip<br>
                                rahatça kullanabilirsiniz.<br>
                                Kurulumu bu kadar basit!
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card5">
                            <img src="/assets/img/yatirimmaliyet.png" />
                            <h3>Yatırım maliyeti yok!</h3>
                            <p>

                                Sadece aylık kira ücretiyle; sunucu,<br>
                                yedekleme, güvenlik yatırımı yapmadan,<br>
                                bakım ve servis derdi düşünmeden sadece<br>
                                işinize odaklanabilirsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card6">

                        </div>
                    </div>
                </div>
            </div>
            <div class="BoxsUnderContent">
                <p class="BoxsUnderParagraph">
                    Küçük ya da büyük ölçekli, self servis ve alakart fark etmez. Bir işletme sahibiyseniz düşünmeniz
                    gereken çok fazla şey vardır.Aynı zamanda sektörün
                    dinamikleri sebebiyle yoğun ve hızlı bir tempoda çalışmak kaçınılmazdır.
                </p>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>




</section>

<section id="section-7">
    <div class="BantImg">
        <img src="/assets/img/bant2.PNG" />
    </div>
</section>

<section id="Fiyatlar">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="priceImg">
                <img id="priceImgs" src="/assets/img/fiyatlar.png" />

                <button id="Buy69Btn" class=" btn btn-default BtnStyle" routerLink="/Payment" routerLinkActive="active">
                    Teklif Al
                </button>

                <button id="Buy99Btn" class=" btn btn-default BtnStyle" routerLink="/Payment" routerLinkActive="active">
                    Teklif Al
                </button>

                <button id="Buy149Btn" class=" btn btn-default BtnStyle" routerLink="/Payment" routerLinkActive="active">
                    Teklif Al
                </button>

                <a class="LinkStyle" id="TryFreeLink" href="#"> Ücretsiz Dene </a>

            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="col-sm-6">
                <h2 class="BlueCardTitle">
                    Daha Hızlı, Daha Akıllı,<br>
                    Daha Pratik
                </h2>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</section>



<section id="section-9">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <div id="BlueCard" class="card7">

                <p>Küçük ya da büyük ölçekli, self servis ve alakart fark etmez.<br>
                    Bir işletme sahibiyseniz düşünmeniz gereken çok fazla şey<br>
                    vardır. Aynı zamanda sektörün dinamikleri sebebiyle yoğun<br>
                    ve hızlı bir tempoda çalışmak kaçınılmazdır.</p>

                <img class="Devices" id="DevicesImgs" src="/assets/img/Cihazlar.png" />
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>

<router-outlet></router-outlet>
