.container {
  width: 100%;
}

.TitleParagraph {
  margin-left: 10%;
}

.TitleParagraph h1 {
  margin: 50px auto;
  font-family: 'MavenPro-Medium';
  font-size: 250%;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: #4B484F;

}


.TryFreeBtn {
  background-color: #B2D235;
  border-radius: 30px;
  border: none;
  font-family: 'MavenPro-Medium';
  font-size: 100%;
  font-style: normal;
  font-weight: 600;
  width: 40%;
}

.ContactUsBtn {
  background-color: #B2D235;
  border-radius: 30px;
  border: none;
  margin-left: 10px;
  font-family: 'MavenPro-Medium';
  font-size: 100%;
  font-style: normal;
  font-weight: 600;
  width: 40%;
}

.BtnDiv {
  margin-left: 10%;
  margin-top: 9%;
}

.DengeDeviceImgs {
  height: 165px;
  margin: 50px auto;

}

.DengeDeviceImgs Img {
  width: 90%;
  height: auto;
}

.qrImg {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  position: relative;
  height: auto;
}

.qrImg Img {
  width: 100%;
  border-radius: 15px;
  height: auto;
}

.priceImg {
  width: 90%;
  margin: auto;

  position: relative;
  height: auto;

}

.priceImg Img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.BtnStyle {
  border-radius: 25px;
  border: none;
  color: white;
  font-family: 'MavenPro-Regular';
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 0px;
  background-color: #F7931E;
}

.LinkStyle {
  font-family: 'MavenPro-Regular';
  position: relative;
  text-align: center;
  z-index: 1;
  color: white;
}

.GetOfferLinkStyle {
  font-family: 'MavenPro-Regular';
  position: relative;
  text-align: center;
  z-index: 1;
  color: white;
}


* {

  box-sizing: border-box;
}



.mySlides {
  display: none;
}

.slideblock {
  display: block;
}

.mySlides img {
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
  height: auto;
}

.slideshow-container {
  width: 90%;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 30%;
  margin: 0 -10px;
  position: relative;
  background-color: rgb(230, 223, 223);
  border-radius: 20px;
  display: inline-block;
  transition: background-color 0.6s ease;
}


#a {
  z-index: 2;
}

#b {
  z-index: 1;
}

#c {
  z-index: -1;
}

.active {
  background-color: #F7931E;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  border-radius: 20px;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

/* .custom {
    cursor: url("/../assets/img/qr (1).png"), auto;
  } */
.BantImg {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
}

.BantImg Img {
  width: 100%;
  height: auto;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.card {
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 15px;
  font-family: 'MavenPro-Medium';
  font-size: 70%;
  font-style: normal;
  font-weight: 600;
  height: 17vw;
  background-color: white;

}


.card img {
  width: 25%;
  height: auto;
}

.card h3 {
  font-family: 'MavenPro-Medium';
  font-size: 150%;
  font-style: normal;
  font-weight: 600;
}

.card1 img {
  width: 25%;
  height: auto;
}

.card2 img {
  width: 50%;
  height: auto;
}

.card2 p {
  margin-bottom: 23px;
}

.card3 img {
  width: 25%;
  height: auto;

}

.card3 p {
  margin-bottom: 37px;
}

.card4 img {
  width: 40%;
  margin-top: 10px;
  height: auto;
}

.card4 p {
  margin-bottom: 57px;
}

.card5 img {
  width: 35%;
  height: auto;
}

.card5 p {
  margin-bottom: 40px;
}

.card6 {
  background-color: #B2D235;

}


.cardsDiv1 {
  width: 90%;
  margin: auto;
}

.cardsDiv2 {
  width: 90%;
  margin: auto;
}

.BoxsUnderContent {

  font-size: 100%;

  font-style: normal;
  margin: 0px 61px auto;
}

.BoxsUnderParagraph {

  text-align: left;
  width: 90%;
}


.card7 {
  margin: auto;
  border-radius: 15px;
  height: auto;
  width: 90%;
  background-color: lightblue;
  display: block;
  text-align: center;
  border-radius: 15px;
  font-size: 80%;
  font-style: normal;
  font-weight: 600;
  margin-top: 32px;
}

.card7 p {
  font-family: 'MavenPro-Medium';
  font-size: 100%;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  width: 50%;
  padding: 20px 20px;
}

.Devices {
  width: 45%;
  position: absolute;
  z-index: 1;
  display: block;
  height: auto;
}

.Referances {
  height: 127px;
  margin: 5px auto;
}

.Referances img {
  width: 40%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 0;
  vertical-align: middle;

}

.card7Title {
  font-family: 'MavenPro-Medium';
  color: black;
  width: 15%;
}

.BlueCardTitle {

  margin-left: 50px;
  font-family: 'MavenPro-Medium';
  color: black;
}





/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/




/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/*/

/* RESPONSIVE */


@media screen and (max-width: 1024px) {



  .TitleParagraph {
    margin-left: 0;
    margin-top: 15px;
  }

  .TitleParagraph h1 {

    font-size: 180%;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: #4B484F;
  }

  .TryFreeBtn {
    background-color: #B2D235;
    border-radius: 30px;
    border: none;

    font-size: 80%;
    font-style: normal;
    font-weight: 600;
    width: 45%;
  }

  .ContactUsBtn {
    background-color: #B2D235;
    border-radius: 30px;
    border: none;
    margin-left: 10px;

    font-size: 80%;
    font-style: normal;
    font-weight: 600;
    width: 45%;
  }

  .BtnDiv {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 35px;
  }

  .DengeDeviceImgs {
    height: 250px;
    margin: auto;
    height: auto;

  }

  .DengeDeviceImgs Img {
    width: 100%;
    /* margin-top: 35px; */
    height: auto;

  }


  .qrImg {
    width: 100%;
    height: auto;
  }

  .qrImg Img {
    width: 100%;
    height: auto;
  }

  .priceImg {
    width: 100%;
    height: auto;


  }

  .priceImg Img {
    width: 100%;
    height: auto;

  }

  .Buy69Btn {
    text-align: center;
    font-style: normal;
    padding: 0px;
  }

  * {
    box-sizing: border-box;
  }


  .mySlides {
    display: none;
  }

  .slideblock {
    display: block;
  }

  .mySlides img {
    vertical-align: middle;
    width: 100%;
    border-radius: 20px;
    height: auto;
  }

  .slideshow-container {
    width: 100%;
    position: relative;
  }

  .dot {
    height: 10px;
  }

  .BantImg {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
  }

  .BantImg Img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }

  .card {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 15px;

    font-size: 60%;
    font-style: normal;
    font-weight: 600;
    background-color: white;
    margin: 20px auto;
    height: auto;

  }

  .card h3 {

    font-style: normal;
    font-weight: 600;
  }

  .card6 {
    background-color: #B2D235;
    display: none;

  }

  .BoxsUnderParagraph {

    font-size: 50%;
    font-style: normal;
    text-align: left;
    width: 100%;
  }

  .card7 {
    width: 100%;
    height: auto;
    background-color: lightblue;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
  }

  .card7 p {

    font-size: 40%;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    padding: 10px 10px;
  }

  .Referances {
    height: auto;
    margin: 5px auto;
    width: 100%;
  }

  .Referances img {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0;


  }

  .BlueCardTitle {
    font-size: small;
    margin-left: 0;
    font-family: 'MavenPro-Medium';
    color: black;
  }


}

