<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Maven+Pro" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="topnav" id="myTopnav">
    <div class="inner_topnav">

        <div class="logo_container">
            <a href="#" >
            <img src="/assets/img/logohd.png" />
        </a>
        </div>
        <div id="navigation" class="navigation">

            <a href="#Ozellikler" id="properties" > 
                <li> ÖZELLİKLER</li>
                
            </a>
            <a href="#Fiyatlar" id="prices">
                <li>FİYATLAR</li>
            </a>

            <a href="#Indir" id="download">
                <li>İNDİR</li>
            </a>
            
            <a href="#" id="help">
                <li>EKRANLAR</li>
            </a>
        
            <a href="#Hakkinda" id="aboutus">
                <li>HAKKINDA</li>
            </a>
        </div>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
</div>


