.topnav {  
  width: 100%;
  overflow: auto;
  background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(232,232,232,1) 3%, rgba(244,244,244,1) 7%, rgba(250,250,250,1) 12%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 84%, rgba(250,250,250,1) 88%, rgba(244,244,244,1) 93%, rgba(232,232,232,1) 97%, rgba(232,232,232,1) 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);     
  z-index: 10000;
  position: sticky;
  top: 0px;
  width: 100%;
}

.topnav .icon {
  display: none;
  height: 100%;
}

.inner_topnav{
  width: 80%;
  height: 100%;
  display: block;
  margin-left: 20%;
  background-color: #ffffff;

}
.logo_container{
  height: 100%;
  display: table-cell;
  float: left;
  width: 20%;

    
}

.logo_container img{
  height: 55px;
  display: flex;  
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;

}

.navigation{
  float: left;
  height: 100%;
  width: 55%;
  margin-top: 15px;
  margin-left: 20px;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 11px 11px;
  text-decoration: none; 
}

.navigation a li{
  display: table-cell;
  font-size: 17px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color: #4B484F;
  vertical-align: middle; 
  font-family: 'MavenPro-Medium';
}






/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*/

 


/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*/

/* RESPONSIVE */

@media screen and (max-width: 1024px){
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    /* float: left; */
    display: block;
    position: relative;
  }
}

@media screen and (max-width: 1024px){
  .topnav.responsive { 
    z-index: 10000;
    position: sticky;}
  .topnav.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
    display: block;
  } 
 
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: inherit;
  }
  .inner_topnav {
    width: 100%;
    margin-left: 0px;
    background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(232,232,232,1) 3%, rgba(244,244,244,1) 7%, rgba(250,250,250,1) 12%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 84%, rgba(250,250,250,1) 88%, rgba(244,244,244,1) 93%, rgba(232,232,232,1) 97%, rgba(232,232,232,1) 100%);
  }

  .logo_container{
    margin-left: 10%;
    width: 80%;
  }

  .logo_container img{
    height: 55px;
  }
  
  .fa{
    font-size: x-large;
    vertical-align: center;
    margin-top: 15px;
  }

  .navigation.responsive {
    
    display: block;
  }
  .navigation {
    width: 100%;
    display: none;
    margin-top: 0px;
    text-align: -webkit-center;

  }

  .navigation a{
    margin-bottom: 10px;
  }

}

  