<footer>
    <div class="container">
        <div class="col-md-9 p_0">
            <div class="col-xs-2 col-mob">
                        <ul class="anamenu">
                            <li><a class="link" href="hakkimizda">Kurumsal</a></li>
                                <li><a class="link" href="javascript:void(0)">Denge</a></li>
                                <li><a class="link" href="javascript:void(0)">Sektörel Çözümler</a></li>
                                <li><a class="link" href="https://www.arkhe.com.tr/sarf-malzemeleri">Sarf Malzemeleri</a></li>
                                <li><a class="link" href="guncel">Referanslar</a></li>
                                <li><a class="link" href="https://www.arkhe.com.tr/haberler">Haberler</a></li>
                                <li><a class="link" href="https://www.arkhe.com.tr/iletisim">İletişim</a></li>
                        </ul>
                    </div>
            <div class="col-xs-3 col-mob">
                <ul><li><a href="https://www.arkhe.com.tr/denge/denge-fastfood">Denge Fastfood</a></li><li><a href="https://www.arkhe.com.tr/denge/denge-restoran">Denge Restoran</a></li><li><a href="https://www.arkhe.com.tr/denge/denge-zincir">Denge Zincir</a></li><li><a href="https://www.arkhe.com.tr/denge/denge-franchise">Denge Franchise</a></li><li><a href="https://www.arkhe.com.tr/denge/denge-otel">Denge Otel</a></li><li><a href="https://www.arkhe.com.tr/denge/denge-catering">Denge Catering</a></li></ul>            </div>
            <div class="col-xs-3 col-mob">
                <ul>
                        <li>
                            <a href="https://www.arkhe.com.tr/denge/satis-yonetim-sistemi">Satış Yönetim Sistemi</a>
                        </li>

                        
                        <li>
                            <a href="https://www.arkhe.com.tr/denge/yemekhane-yonetimi">Yemekhane Yönetimi</a>
                        </li>

                        
                        <li>
                            <a href="https://www.arkhe.com.tr/denge/maliyet-yonetim-sistemi">Maliyet Yönetim Sistemi</a>
                        </li>

                        
                        <li>
                            <a href="https://www.arkhe.com.tr/denge/merkezi-kontrol-sistemi">Merkezi Kontrol Sistemi</a>
                        </li>

                        
                        <li>
                            <a href="https://www.arkhe.com.tr/denge/musteri-takip-sistemi">Müşteri Takip Sistemi</a>
                        </li>

                        
                        <li>
                            <a href="https://www.arkhe.com.tr/denge/on-muhasebe-sistemi">Ön Muhasebe Sistemi</a>
                        </li>

                        </ul>            </div>
            <div class="col-xs-4 col-mob">
                <ul class="social"><li class="instagram"><a href="https://www.instagram.com/arkheyazilim/" class="instagram" target="_blank"><i class="fa fa-instagram"></i>instagram</a></li><li class="linkedin"><a href="https://www.linkedin.com/company/arkhe-yazılım-teknolojileri?trk=tyah&amp;trkInfo=idx%3A1-1-1%2CtarId%3A1426165869176%2Ctas%3Aarkhe+yazılım" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i>linkedin</a></li><li class="twitter"><a href="https://twitter.com/ArkheYazilim" class="twitter" target="_blank"><i class="fa fa-twitter"></i>twitter</a></li><li class="facebook"><a href="https://www.facebook.com/ArkheYazilim" class="facebook" target="_blank"><i class="fa fa-facebook"></i>facebook</a></li></ul>            </div>
        </div>
        <div class="col-md-3">
            <div class="e_bulten">
                <div class="text"><span>E-Bültenimiz'e Katılın !</span>
                    Sektördeki tüm yeniliklerden  haberiniz olsun...</div>
                <div id="msg2" style="position: inherit;"></div>
                <form method="post" action="javascript:void(0);" id="ebultenform">
                    <div class="flex">
                        <input type="text" name="email" id="email" class="validate[required, custom[email]]" placeholder="E-Posta adresinizi giriniz">
                        <button class="alertBtn" type="submit"><i class="def-icon-envelope"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footerBottom">
        <div class="container">
            <div class="col-sm-9">
                <div class="copy t_align_l">Copyright © Arkhe Yazılım Teknolojileri</div>
            </div>
            <div class="col-sm-3">
                <a href="https://www.mediaclick.com.tr" target="_blank" class="imza">
                    Web Tasarım                </a>
                <a href="https://www.mediaclick.com.tr" target="_blank" class="imza">
                    <b>MediaClick</b>
                </a>
            </div>
        </div>
    </div>
</footer>