footer {  
/* width: 100%;
overflow: auto;
background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(232,232,232,1) 3%, rgba(244,244,244,1) 7%, rgba(250,250,250,1) 12%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 84%, rgba(250,250,250,1) 88%, rgba(244,244,244,1) 93%, rgba(232,232,232,1) 97%, rgba(232,232,232,1) 100%);
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);     
z-index: 10000;
position: sticky;
top: 0px;
width: 100%; */

background-color: #1c384a;
    padding: 45px 0 0;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
 
}