/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  border-radius: 15px;
  

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
  /* width: 80%; */
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #B2D235;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 175px;
  background: #B2D235;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #B2D235;
}

#msform .action-button-previous {
  width: 175px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #B2D235;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #4B484F;
  text-transform: uppercase;
  font-size: 10px;
  width: 20%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  font-family: 'MavenPro-Regular';
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: rgb(230, 223, 223);
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #B2D235;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #F7931E;
  color: white;
}

.new {
  margin: auto;
  font-family: 'MavenPro-Regular';
  color: black;
}

input[type=checkbox]+label {
  display: -webkit-box;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

/*
input[type=checkbox] {
  display: none;
} */

input[type=checkbox]+label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox]+label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked+label:before {
  background-color: #F7931E;
  border-color: #F7931E;
  color: #fff;
}

input[type=checkbox]:disabled+label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

#signUpClick {
  font-family: 'MavenPro-Regular';
  color: steelblue;
  cursor: pointer;
}

.hide {
  display: none;
}

.form-radio {
  width: 80%;
  margin: auto;
}

.form-check-input {
  width: 5%;
}

#countIncrement {
  width: 47px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
  margin-left: 5px;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #F7931E;
}

.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #F7931E;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

/*
.option-input.radio {
  border-radius: 10%;
}

.option-input.radio::after {
  border-radius: 50%;
} */

#countIncrementExtra {
  width: 60px;
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

.labelAlign {
  text-align: left;
  width: 80%;
  font-size: 13px;
  font-family: 'MavenPro-Regular';
}

.custom-invalid-feedback {
  color: red;
  font-family: 'MavenPro-Regular';
  font-size: 13px;
}

#customerPhone input[type=number]::-webkit-inner-spin-button,
#customerPhone input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.inputLabelAligns{
  text-align: right;
  width: 90%;
  font-family: 'MavenPro-Regular';
  font-size: 13px;
}

.inputsytles{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 95%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
  float: left;
}

.accordion {
  background-color: #F7931E;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  margin-bottom: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.divStyle{
  width: 80%;
  margin: auto;
  font-family: 'MavenPro-Regular';
  font-size: 13px;
  text-align: left;
}

.astyle{
  text-align: right;
  width: 200px;
  margin-right: 10px;
}

.bstyle{
  float: left;
}

table, th, td {
  border: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

 -webkit-appearance: none;
  margin: 0;
 
}

input[type=number] {
  -moz-appearance: textfield;
}