<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- MultiStep Form -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form id="msform" [formGroup]="offerForm">

    <!--    <p>{{ offerForm.value | json }}</p> -->

      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active" id="productSelect">Paket Seçimi</li>
        <li id="companyAmountSelect">Şube Seçimi</li>
        <li id="depSelect"  style="display: none;">Ürün Uygulama</li>
        <li id="extraPacketsSelect">Ürün Seçimi</li>
        <li id="personalInfo">Kişisel Bilgiler</li>
        <li id="preview">Önizleme</li>
      </ul>

      <!-- fieldsets -->

      <!-- URUN SECIM  -->
      <fieldset id="productSelectCard" >
        <h2 class="fs-title" style="font-family: 'MavenPro-Regular';">Paket Seçimi</h2>
        <h3 class="fs-subtitle">Aşağıdaki ürünlerden pakete eklemek istediklerinizi seçiniz</h3>
        <div class="new">
          <div class="form-radio form-radio-inline" *ngFor="let p of keys(options['packets'])">
            <label class="labelAlign">
              <input class="option-input" type="radio" value="{{ p }}" formControlName="packet" />
              {{ options['packets'][p].name }}
            </label>
          </div>
        </div>

        <input type="button" name="next" class="next action-button" value="İleri" />
      </fieldset>

      <!-- SUBE SECIM  -->
      <fieldset id="companyAmountSelectCard" >
        <h2 class="fs-title" style="font-family: 'MavenPro-Regular';">Şube Seçimi</h2>
        <h3 class="fs-subtitle">Aşağıdan şube sayınızı seçiniz</h3>
        <div class="new">
          <div class="form-radio form-radio-inline">
            <label class="labelAlign">
              <input class="option-input radio" type="radio" value="single" formControlName="ccSelection" />
              Tek Şube
            </label>
            <label class="labelAlign">
              <input [attr.disabled]="selectedPacket !== 'advanced' ? '' : null" class="option-input radio" type="radio"
                value="multi" formControlName="ccSelection" />
              Çoklu Şube

              <input *ngIf="companySelection === 'multi'" type="number" id="countIncrement"
              placeholder="Şube sayısını giriniz" step="1" min="2" formControlName="companyAmount">
            </label>
          </div>
        </div>
        <br>


        <div *ngIf="companySelection === 'multi' && companyAmount < 2">
          <small class="form-text custom-invalid-feedback">
            Şube sayısı en az 2 olabilir
          </small>
        </div>

        <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
        <input [attr.disabled]="(companySelection === 'multi' && companyAmount < 2 ) ? '' : null" type="button"
          name="next" class="next action-button" value="İleri" />
      </fieldset>


      <!-- DEP SELECTION -->
      <fieldset id="depSelectionCard">
        <h2 class="fs-title" style="font-family: 'MavenPro-Regular';">Ürün Uygulama</h2>
        <h3 class="fs-subtitle">Aşağıda seçeceğiniz ek paketlerin şubelerinize göre uygulanma şeklini seçiniz.</h3>
        <div class="new">
          <div class="form-radio form-radio-inline">
            <label class="labelAlign">
              <input class="option-input radio" type="radio" value="all" formControlName="depSelection" />
              Her şube için aynı paketler
            </label>
            <label class="labelAlign">
              <input [attr.disabled]="companySelection !== 'multi' ? '' : null" class="option-input radio"
                value="seperate" type="radio" formControlName="depSelection" />
              Her şubenin paketleri ayrı
            </label>
          </div>
        </div>

        <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
        <input (click)="generateExtras()" type="button" name="next" class="next action-button" value="İleri" />
      </fieldset>

      <!-- EXTRA PACKETS -->
      <fieldset id="extraPacketsCard">
        <h2 class="fs-title" style="font-family: 'MavenPro-Regular';">Ürün Seçimi</h2>
        <h3 class="fs-subtitle">Aşağıda paketinize ek olacak ürünleri seçiniz.</h3>

        <div class="new" formArrayName="extraPackets">
          <div *ngFor="let arr of extraPackets.controls; let i=index" [formArrayName]="i">
            <button class="accordion" *ngIf="depSelection === 'seperate'" (click)="onAccordionClick($event.target)">
              Şube #{{i+1}}
            </button>
            <div [ngClass]="(depSelection === 'seperate') ? 'panel' : ''">
              <label class="labelAlign" *ngFor="let a of arr.controls; let j=index" [formGroupName]="j">
                <div *ngIf="currentExtras[keys(currentExtras)[j]].hasOwnProperty('name'); else elseBlock">
                  <input type="checkbox" class="option-input" formControlName="checked">
                  {{ currentExtras[keys(currentExtras)[j]].name }}
                </div>
                <ng-template #elseBlock>
                  <div *ngFor="let p of keys(currentExtras[keys(currentExtras)[j]])">
                    <input [checked]="a.value.checked === p" (click)="onExtraRadioClick(i, j)" type="radio"
                      class="option-input" value="{{ p }}" formControlName="checked">
                    {{ currentExtras[keys(currentExtras)[j]][p].name }}
                  </div>
                </ng-template>
                <div *ngIf="a.value.checked">
                  <input *ngIf="selectedPacket !== 'starter'" type="number" id="countIncrementExtra"
                    placeholder="adet giriniz" step="1" formControlName="amount" />
                  <small *ngIf="a.value.amount < 1" class="form-text custom-invalid-feedback">
                    Paket sayısı en az 1 olabilir
                  </small>
                  <small *ngIf="selectedPacket === 'standard' && j === 2 && a.value.amount > 3"
                    class="form-text custom-invalid-feedback">
                    Paket sayısı en fazla 3 olabilir
                  </small>
                </div>
              </label>
            </div>
          </div>
        </div>

        <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
        <input [attr.disabled]="!extraValidate() ? '' : null" type="button" name="next" class="next action-button"
          value="İleri" />
      </fieldset>

      <!-- PERSONAL INFOS-->
      <fieldset id="personalInfoCard" formGroupName="customer">
        <h2 class="fs-title" style="font-family: 'MavenPro-Regular';">Kişisel Bilgiler</h2>
        <h3 class="fs-subtitle">Aşağıdaki formu kişisel bilgileriniz ile doldurunuz.</h3>


        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Ad:</label></div>
            <div class="col-9"><input type="text" formControlName="name" class="inputsytles" />
              <small *ngIf="customerName.invalid" class="form-text custom-invalid-feedback">
                *
              </small></div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Soyad:</label></div>
            <div class="col-9">
              <input type="text" formControlName="surname" class="inputsytles" />
              <small *ngIf="customerSurname.invalid" class="form-text custom-invalid-feedback">
                *
              </small>
            </div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle" id="customerPhone">Telefon:</label></div>
            <div class="col-9">
              <input type="number" formControlName="phone" class="inputsytles arrow" required />
              <small *ngIf="customerPhone.invalid" class="form-text custom-invalid-feedback">
                *
              </small>
            </div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Mail:</label></div>
            <div class="col-9">
              <input type="text" formControlName="mail" class="inputsytles" />
              <small *ngIf="customerMail.invalid" class="form-text custom-invalid-feedback">
                *
              </small>
            </div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Organizasyon:</label></div>
            <div class="col-9">
              <input type="text" formControlName="organization" class="inputsytles" />
              <small *ngIf="customerOrganization.invalid" class="form-text custom-invalid-feedback">
                *
              </small>
            </div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">İl:</label></div>
            <div class="col-9">
              <input type="text" formControlName="city" class="inputsytles" />
              <small *ngIf="customerCity.invalid" class="form-text custom-invalid-feedback">
                *
              </small>
            </div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">İlçe:</label></div>
            <div class="col-9">
              <input type="text" formControlName="town" class="inputsytles" />
              <!-- <small *ngIf="customerTown.invalid" class="form-text custom-invalid-feedback">
                *
              </small> -->
            </div>

          </div>
        </div>


        <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
        <input [attr.disabled]="customer.invalid ? '' : null" type="button" name="next" class="next action-button"
          value="İleri" />
      </fieldset>

      <!-- Preview  -->
      <fieldset id="previewCard" formGroupName="customer">
        <h2 class="fs-title" style="font-family: 'MavenPro-Regular';">Teklif Özeti</h2>
        <h3 class="fs-subtitle">Seçmiş olduğunuz paketler aşağıdaki gibidir.</h3>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Ad:</label></div>
            <div class="col-9"><label class="bstyle">{{customerName.value}}</label></div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Soyad:</label></div>
            <div class="col-9"><label class="bstyle">{{customerSurname.value}}</label></div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Telefon:</label></div>
            <div class="col-9"><label class="bstyle">{{customerPhone.value}}</label></div>

          </div>
        </div>


        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Mail:</label></div>
            <div class="col-9"> <label class="bstyle">{{customerMail.value}}</label></div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Organizasyon:</label></div>
            <div class="col-9"><label class="bstyle">{{customerOrganization.value}}</label></div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">İl:</label></div>
            <div class="col-9"><label class="bstyle">{{customerCity.value}}</label></div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">İlçe:</label></div>
            <div class="col-9"><label class="bstyle">{{customerTown.value}}</label></div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Paket:</label></div>
            <div class="col-9"><label class="bstyle">{{ options['packets'][selectedPacket].name }}</label></div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Şube Sayısı:</label></div>
            <div class="col-9"><label class="bstyle">{{ companySelection === 'multi' ? companyAmount : 1 }} </label>
            </div>

          </div>
        </div>

        <div class="container-fluid divStyle">
          <div class="row">

            <div class="col-3"><label class="astyle">Seçilen Ürünler:</label></div>
            <div class="col-9"><label class="bstyle">
                <div *ngFor="let dep of activeExtraPackets; let i = index">
                  <div *ngIf="depSelection === 'seperate'" style="font-family: 'MavenPro-Bold'; text-align: center;">

                    Şube #{{i+1}}<br>

                  </div>


                  <table style="width:100%">
                    <tr>
                      <th style="font-family: 'MavenPro-Bold'; ">Ürün</th>
                      <th style="font-family: 'MavenPro-Bold'; text-align: center;">Adet</th>

                    </tr>
                    <tr *ngFor="let packet of dep">


                      <td> {{ packet.name }}<br></td>
                      <td style=" text-align: center;"> {{ packet.amount }}</td>

                    </tr>

                  </table>


                </div>
              </label>
            </div>

          </div>
        </div>




        <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
        <input type="submit" name="submit" class="submit action-button" value="Tamamla" />
      </fieldset>

    </form>

  </div>
  <div class="col-md-2"></div>
</div>
