@font-face {
  font-family: 'MavenPro-Regular';
  font-style: normal;
  font-weight: 700;

  src: local('MavenPro-Regular'),
   url("assets/font/MavenPro-Regular.ttf") format("truetype");
   unicode-range: U+000-5FF; 
}

@font-face {
  font-family: 'MavenPro-Bold';
  font-style: normal;
  font-weight: 700;

  src: local('MavenPro-Bold'),
   url("assets/font/MavenPro-Bold.ttf") format("truetype");
   unicode-range: U+000-5FF; 
}

@font-face {
  font-family: 'MavenPro-Medium';
  font-style: normal;
  font-weight: 700;

  src: local('MavenPro-Bold'),
   url("assets/font/MavenPro-Medium.ttf") format("truetype");
   unicode-range: U+000-5FF; 
}




html {
    scroll-behavior: smooth;
  }

body{
    margin: 0px;
    background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(232,232,232,1) 3%, rgba(244,244,244,1) 7%, rgba(250,250,250,1) 12%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 84%, rgba(250,250,250,1) 88%, rgba(244,244,244,1) 93%, rgba(232,232,232,1) 97%, rgba(232,232,232,1) 100%);
    box-shadow: 0 2px 4px 0 rgba(248, 249, 249, 0.2), 0 2px 2px 0 rgba(248, 249, 249, 0.19);
   
    
}

